* {
    box-sizing: border-box;
}

html {
    font-family: roboto;
    color: var(--clr-1);
}

body {
    margin: 0;
    font-size: 0.875rem;
    background-color: var(--clr-4);
}

img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 3.2rem;
}

button {
    cursor: pointer;
}

img {
    cursor: pointer;
}

.user-msg {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--clr-2);
    color: var(--clr-5);
    padding: 1rem 2rem;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}