.main-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.main-header {
    grid-row: 1;
}

.gallery-view {
    grid-row: 2;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: auto 1fr;
}

.search-box-layout {
    grid-column: 2;
    grid-row: 1;
    height: 2.625rem;
    margin: 1.5rem 0;
}

.gallery-layout {
    grid-column: 2;
    grid-row: 2;
    columns: 6;
    column-gap: 1.25rem;
}

.gallery-layout img {
    margin-bottom: 1.25rem;
}

.memes-editor-view {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: var(--clr-5);
}

.memes-editor-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1;
    grid-row: 1;
}

.main-footer {
    grid-row: 3;
}

.hidden {
    display: none;
}

.back-button {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: start;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 0.5rem;
}

.selected-image {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    place-items: center;
}

aside {
    display: grid;
    grid-column: 2;
    grid-row: 1 / 3;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 3rem 3rem 20rem;
    gap: 0.5rem;
    overflow: hidden;
}

aside h2 {
    grid-row: 1;
}

.text-input {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

.emojies {
    display: grid;
    grid-column: 1;
    grid-row: 3;
    place-items: center;
}

.editor-buttons {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    gap: 1rem;
    justify-content: end;
    align-items: end;
}