.main-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.main-header {
    grid-row: 1;
}

.gallery-view {
    grid-row: 2;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: auto 1fr;
}

.search-box-layout {
    grid-column: 2;
    grid-row: 1;
    height: 2.625rem;
    margin: 1.5rem 0;
}

.gallery-layout {
    grid-column: 2;
    grid-row: 2;
    columns: 6;
    column-gap: 1.25rem;
}

.gallery-layout img {
    margin-bottom: 1.25rem;
}

.memes-editor-view {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: var(--clr-5);
}

.memes-editor-layout {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-footer {
    grid-row: 3;
}

.hidden {
    display: none;
}