@media (max-width: 740px) {
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100dvh;
        background-color: var(--clr-2);
        width: 100%;


        transform: translateX(100%);


        transition: transform .6s, box-shadow .6s;


        body.menu-open & {
            box-shadow: -7px 0px 16px 4px rgb(0 0 0 / 15%);
            transform: translateX(0);
        }

        .btn-close-menu {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: none;
            border: none;
            color: var(--clr-5);
            z-index: 10;
            font-size: 1.5rem;
        }


        >ul {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;


            >li:not(:last-child)::after {
                content: "__";
                display: block;
                text-align: center;
                color: var(--clr-5);
                margin-top: 5rem;
            }
        }


        a {
            display: grid;
            place-items: center;
            color: var(--clr-5);
            font-weight: 300;
            font-size: 1.5rem;



            transition: background-color .4s;


            &:hover {
                color: var(--clr-5);
                font-weight: 500;
            }
        }
    }

    .btn-toggle-menu {
        background-color: var(--clr-5);
        border: none;
        color: var(--clr-1);
        font-size: 1.5rem;
    }

    .gallery-layout {
        grid-row: 2;
        columns: 2;
        margin-top: 0.8rem;
        column-gap: 0.8rem;
    }

    .gallery-layout img {
        margin-bottom: 0.8rem;
    }

    .memes-editor-layout {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        background-color: var(--clr-4);
    }

    .back-button {
        display: none;
    }

    .selected-image {
        grid-column: 1;
        grid-row: 1;
        width: 90%;
        justify-self: center;
        align-self: center;
        padding-top: 1.875rem;
        background-color: var(--clr-4);
        margin-bottom: 5%;
    }

    aside {
        grid-column: 1;
        grid-row: 2;
        grid-template-rows: auto 1fr;
        background-color: var(--clr-5);
    }

    aside h2 {
        grid-row: 1;
        padding: 0.5rem;
        margin-left: 0.8rem;
    }

    .share-button {
        grid-column: 1;
        grid-row: 3;
        width: 90%;
        justify-self: center;
        align-self: center;
    }
}


@media (min-width: 740px) {
    .main-nav ul {
        gap: 2.5rem;
    }

    .main-nav {
        font-size: 0.8rem;
    }

    .selected-image {
        grid-column: 1;
        grid-row: 2;
        width: 75%;
        margin-top: 1.5rem;
    }

    .btn-toggle-menu {
        display: none;
    }

    .btn-close-menu {
        display: none;
    }
}



@media (min-width: 1060px) {
    .main-nav ul {
        gap: 6.25rem;
    }

    .main-nav {
        font-size: 1rem;
    }
}