.memes-editor-layout {
    background-color: var(--clr-5);
}

.back-button {
    padding: 0.5rem;
    margin: 1rem;
    border: 0;
    background-color: var(--clr-5);
    color: var(--clr-1);
    font-size: 0.875rem;
}

.back-button::before {
    content: "<";
}

.selected-image {
    width: 75%;
    margin: auto;
    margin-bottom: 25%;
}

.canvas {
    width: 75%;
    height: auto;
}

aside {
    background-color: var(--clr-4);
}

aside h2 {
    padding: 0.5rem;
    margin-left: 0.8rem;
}

.text-input {
    background-color: var(--clr-5);
    border: 1px solid var(--clr-1);
    border-radius: 10px;
    width: 80%;
    justify-self: center;
    height: 100%;
}

.emojies {
    background-color: var(--clr-5);
    border: 1px solid var(--clr-1);
    border-radius: 10px;
    width: 80%;
    justify-self: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.emojies span {
    cursor: pointer;
    font-size: 1.5rem;
}

.editor-buttons {
    padding: 0.5rem 1rem;
}

.download-button {
    border: none;
    background-color: var(--clr-2);
    border-radius: 35px;
    width: 8.75rem;
    height: 3.375rem;
    text-transform: uppercase;
    font-size: 1.125rem;
    color: var(--clr-5);
    text-decoration: none;
}

.download-button:active {
    background-color: grey;
}

.save-button {
    border: none;
    background-color: var(--clr-2);
    border-radius: 35px;
    width: 8.75rem;
    height: 3.375rem;
    text-transform: uppercase;
    font-size: 1.125rem;
    color: var(--clr-5);
    text-decoration: none;
}

.save-button:active {
    background-color: grey;
}

.text-input input {
    border: none;
    background-color: var(--clr-5);
    font-size: 1.125rem;
    font-family: roboto-italic;
    color: var(--clr-1);
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
    outline: none;
}