.memes-editor-layout {
    background-color: var(--clr-5);
    overflow: hidden;
    height: 100%;
}

.back-button {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: start;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
    border: 0;
    background-color: var(--clr-5);
    color: var(--clr-1);
    font-size: 0.875rem;
}

.back-button::before {
    content: "<";
}

.selected-image {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    place-items: center;
    width: 75%;
    margin: auto;
    margin-bottom: 25%;
}

.canvas {
    width: 75%;
    height: auto;
}

aside {
    display: grid;
    grid-column: 2;
    grid-row: 1 / 3;
    background-color: var(--clr-4);
    grid-template-columns: 1fr;
    grid-template-rows: 3rem auto 3rem;
    gap: 0.5rem;
    overflow: hidden;
}

aside h2 {
    grid-row: 1;
    padding: 0.5rem;
    margin-left: 0.8rem;
}

.download-button {
    grid-column: 1;
    grid-row: 3;
    border: none;
    background-color: var(--clr-2);
    border-radius: 35px;
    width: 8.75rem;
    height: 3.375rem;
    text-transform: uppercase;
    font-size: 1.125rem;
    color: var(--clr-5);
    justify-self: end;
    align-self: end;
    margin: 2.4rem 1.6rem;
    text-decoration: none;
}


.text-editor {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem 3rem;
    gap: 1rem;
    margin-top: 1rem;
    width: 80%;
    justify-self: center;
}

.text-input {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: var(--clr-5);
    border: 1px solid var(--clr-1);
    border-radius: 10px;
    place-items: center;
}

.emojies {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    background-color: var(--clr-5);
    border: 1px solid var(--clr-1);
    border-radius: 10px;
    place-items: center;
}

.text-input input {
    border: none;
    background-color: var(--clr-5);
    font-size: 1.125rem;
    font-family: roboto-italic;
    color: var(--clr-1);
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
    outline: none;
}
