.memes-editor-layout {
    background-color: var(--clr-5);
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.back-button {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: start;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0.5rem;
    margin: 1rem;
    border: 0;
    background-color: var(--clr-5);
    color: var(--clr-1);
    font-size: 0.875rem;
    cursor: pointer;
}

.back-button::before {
    content: "<";
}

.selected-image {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    place-items: center;
    width: 100%;
    height: 100%;
}

.canvas {
    width: 75%;
    height: auto;
    max-height: 80vh;
    border: 1px solid #ccc;
}

aside {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    background-color: var(--clr-4);
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr 6rem; 
    height: 100%;
    position: relative;
}

aside h2 {
    grid-row: 1;
    padding: 1rem;
    margin: 0;
}

.text-editor {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 3rem);
    gap: 1rem;
    padding: 0 1.5rem;
    width: 100%;
}

.text-input, .emojies {
    background-color: var(--clr-5);
    border: 1px solid var(--clr-1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-input input {
    border: none;
    background-color: transparent;
    font-size: 1.125rem;
    font-family: roboto-italic;
    color: var(--clr-1);
    width: 90%;
    text-align: center;
    outline: none;
}

.download-button {
    grid-row: 3;
    justify-self: end;
    align-self: end;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--clr-2);
    color: var(--clr-5);
    border: none;
    border-radius: 35px;
    width: 8.75rem;
    height: 3.375rem;
    text-transform: uppercase;
    font-size: 1.125rem;
    text-decoration: none;
    display: grid;
    place-items: center;
}
