.flex {
    display: flex;

    &.space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.arrow-on-hover {
    &::before,
    &::after {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover::before,
    &:hover::after {
        opacity: 1;
    }
}

.full {
    width: 100%;
}